* {
	background: #f3f5fc;
	font-family: 'Inter';
}
header {
	position: relative;
	height: 50px;
	margin-right: 90%;
	margin-bottom: 10px;
	margin-top: 10px;
}
.logo {
	width: 100%;
	left: 0;
	position: absolute;
	height: 50px;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.contenedor-text-area {
	float: left;
	width: 60%;
	height: auto;
}
.text-area {
	float: left;
	margin-left: 240px;
	width: 80%;
	height: 400px;
	font-size: 20px;
	font-family: inherit;
	font-weight: 400;
	padding: 10px;
	box-sizing: border-box;
	color: #0a3871;
	text-transform: lowercase;
	border: none;
}
::placeholder {
	color: #0a3871;
}
.text-area:focus {
	outline: none;
}
.info,
.botones {
	width: 60%;
	height: auto;
	margin-left: 240px;
}
.informacion {
	color: #495057;
	font-size: 12px;
}
.btn-desencriptar {
	background: #d8dfe8;
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: #0a3871;
	cursor: pointer;
	height: 67px;
	margin-left: 3%;
	width: 45%;
	font-size: 16px;
	font-weight: 400;
}
.btn-encriptar {
	background-color: #0a3871;
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: white;
	cursor: pointer;
	height: 67px;
	width: 45%;
	font-size: 16px;
	font-weight: 400;
	flex-direction: row;
}
.contenedor-mensaje {
	float: right;
	width: 40%;
	height: auto;
	margin-top: 30px;
}
.mensaje {
	float: right;
	margin-right: 10%;
	width: 28%;
	height: 670px;
	margin-top: -5%;
	background: white;
	background-image: url('../assets/Muneco.svg');
	background-repeat: no-repeat;
	background-position: 30px 110px;
	border-radius: 24px;
	border: none;
	color: #0a3871;
	box-sizing: border-box;
	box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.5);
	padding: 20px;
	display: block;
	font-size: 20px;
	font-family: inherit;
	font-weight: 400;
	position: absolute;
	cursor: not-allowed;
}
.contenedor-infoYbtn {
	position: relative;
	background-color: transparent;
	width: 60%;
	display: flex;
	align-content: center;
	flex-direction: column;
	padding: 3px 0 30px 35px;
	height: 75vh;
}
.contenedor-infoYbtn h3 {
	background-color: transparent;
	margin-left: 0px;
	margin-top: 370px;
	margin-bottom: 5px;
	color: rgb(70, 70, 70);
	text-align: center;
	font-family: 'Inter';
	font-weight: 500;
}
.contenedor-infoYbtn p {
	background-color: transparent;
	margin-left: 20px;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	color: rgb(82, 81, 81);
}
.contenedor-infoYbtn .btn-copiar {
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: #0a3871;
	cursor: pointer;
	height: 67px;
	width: 336px;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	display: none;
	margin-top: 450px;
}
