:root {
	--background-light: #f3f5fc;
	--background-dark: #1a1a1a;
	--main-light: #0a3871;
	--main-dark: #f3f5fc;
	--placeholder-light: #0a3871;
	--placeholder-dark: #aaaaaa;
	--informacion-light: #495057;
	--informacion-dark: #77787a;
	--btn-light: #d8dfe8;
	--h3-light: #464646;
	--h3-dark: #b4b4b4;
	--p-light: #515151;
	--p-dark: #8e8e8e;
}

body {
	background-color: var(--background-light);
	font-family: 'Inter';
}
header {
	position: relative;
	height: 50px;
	margin-right: 90%;
	margin-bottom: 10px;
	margin-top: 10px;
}
.dark {
	margin-left: 90%;
	position: absolute;
	margin-top: 25px;
}
.dark-mode {
	background: var(--background-dark);
	color: var(--main-light);
	::placeholder {
		color: var(--main-dark);
	}
	h6 {
		color: var(--main-dark);
	}
}
.logo {
	width: 100%;
	left: 0;
	position: absolute;
	height: 50px;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.contenedor-text-area {
	float: left;
	width: 60%;
	height: auto;
}
.text-area {
	float: left;
	margin-left: 240px;
	width: 80%;
	height: 400px;
	font-size: 20px;
	font-family: inherit;
	font-weight: 400;
	padding: 10px;
	box-sizing: border-box;
	color: var(--text-light);
	text-transform: lowercase;
	border: none;
	background-color: inherit;
}
::placeholder {
	color: var(--placeholder-light);
}
.text-area:focus {
	outline: none;
}
.info,
.botones {
	width: 60%;
	height: auto;
	margin-left: 240px;
}
.informacion {
	color: var(--informacion-light);
	font-size: 12px;
}
.btn-desencriptar {
	background: var(--btn-light);
	border: 1px solid var(--text-light);
	border-radius: 24px;
	color: var(--text-light);
	cursor: pointer;
	height: 67px;
	margin-left: 3%;
	width: 45%;
	font-size: 16px;
	font-weight: 400;
}
.btn-encriptar {
	background-color: var(--main-light);
	border: 1px solid var(--main-light);
	border-radius: 24px;
	color: var(--main-dark);
	cursor: pointer;
	height: 67px;
	width: 45%;
	font-size: 16px;
	font-weight: 400;
	flex-direction: row;
}
.contenedor-mensaje {
	float: right;
	width: 40%;
	height: auto;
	margin-top: 30px;
}
.mensaje {
	float: right;
	margin-right: 10%;
	width: 28%;
	height: 670px;
	margin-top: -5%;
	background: var(--background-light);
	background-image: url('../assets/Muneco.svg');
	background-repeat: no-repeat;
	background-position: 30px 110px;
	border-radius: 24px;
	border: none;
	color: var(--main-light);
	box-sizing: border-box;
	box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.5);
	padding: 20px;
	display: block;
	font-size: 20px;
	font-family: inherit;
	font-weight: 400;
	position: absolute;
	cursor: not-allowed;
}
.contenedor-infoYbtn {
	position: relative;
	background-color: transparent;
	width: 60%;
	display: flex;
	align-content: center;
	flex-direction: column;
	padding: 3px 0 30px 35px;
	height: 75vh;
}
.contenedor-infoYbtn h3 {
	background-color: transparent;
	margin-left: 0px;
	margin-top: 370px;
	margin-bottom: 5px;
	color: var(--h3-light);
	text-align: center;
	font-family: 'Inter';
	font-weight: 500;
}
.contenedor-infoYbtn p {
	background-color: transparent;
	margin-left: 20px;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	color: var(--p-light);
}
.contenedor-infoYbtn .btn-copiar {
	border: 1px solid var(--main-light);
	border-radius: 24px;
	color: var(--main-light);
	cursor: pointer;
	height: 67px;
	width: 336px;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	display: none;
	margin-top: 450px;
}
